<footer>
	<nav>
		<ul>
			<li><%= link_to "All Projects", projects_path %></li>
			<li><%= link_to "Log In", # %></li>
			<li>
		</ul>
	</nav>
	<small>Cloudtime created by Wes Wright <a herf="http://wrightonlineworks.com">(wrighonlineworks.com)</a></small>
</footer>